:root {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;
  --muted: 217 32% 17%;
  --muted-foreground: 215 20% 65%;
  --popover: 222 47% 11%;
  --popover-foreground: 210 40% 98%;
  --card: 222 47% 13%;
  --card-foreground: 210 40% 98%;
  --border: 217 32% 21%;
  --input: 217 32% 21%;
  --primary: 258 90% 66%;
  --primary-foreground: 0 0% 100%;
  --secondary: 41 97% 55%;
  --secondary-foreground: 222 47% 11%;
  --accent: 222 47% 20%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;
  --ring: 258 90% 66%;
  --radius: 0.75rem;
}

.dark {
  --background: 222 47% 8%;
  --foreground: 210 40% 98%;
  --muted: 222 35% 12%;
  --muted-foreground: 214 32% 78%;
  --accent: 222 35% 16%;
  --accent-foreground: 210 40% 98%;
  --popover: 222 47% 6%;
  --popover-foreground: 210 40% 98%;
  --card: 222 47% 10%;
  --card-foreground: 210 40% 98%;
  --border: 222 32% 16%;
  --input: 222 32% 16%;
  --primary: 258 90% 70%;
  --primary-foreground: 222 47% 8%;
  --secondary: 41 97% 50%;
  --secondary-foreground: 222 47% 8%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;
  --ring: 258 90% 66%;
}
